on:
  workflow_dispatch:
  push:
    tags:
      - "*/v*"

name: Release policy

jobs:
  calculate-policy-from-tag:
    runs-on: ubuntu-latest
    outputs:
      policy-working-dir: ${{ steps.calculate-vars.outputs.policy_working_dir }}
      policy-version: ${{ steps.calculate-vars.outputs.policy_version }}
      policy-id: ${{ steps.calculate-vars.outputs.policy_id }}
      policy-name: ${{ steps.calculate-vars.outputs.policy_name }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: calculate-vars
        shell: bash
        run: |
          policy_name=$( echo ${{ github.ref_name }} | sed 's/\(.*\)\/\(.*\)$/\1/' )
          policy_working_dir=$( find policies -type d -name "$policy_name")
          policy_ociUrl=$(yq -r '.annotations."io.kubewarden.policy.ociUrl"' $policy_working_dir/metadata.yml)
          policy_id=${policy_ociUrl##*/}
          policy_language=""

          if [ ! -d "$policy_working_dir" ]; then
            echo "$policy_working_dir does not exist, policy not found";
            exit 1;
          fi

          echo "policy_id=$policy_id"
          echo "policy_name=$policy_name"
          echo "policy_working_dir=$policy_working_dir"
          echo "policy_version=$( echo ${{ github.ref_name }} | sed 's/\(.*\)\/\(.*\)$/\2/' | cut -c2- )"

          echo "policy_id=$policy_id" >> $GITHUB_OUTPUT
          echo "policy_name=$policy_name" >> $GITHUB_OUTPUT
          echo "policy_working_dir=$policy_working_dir" >> $GITHUB_OUTPUT
          echo "policy_version=$( echo ${{ github.ref_name }} | sed 's/\(.*\)\/\(.*\)$/\2/' | cut -c2- )" >> $GITHUB_OUTPUT

  ci:
    uses: ./.github/workflows/reusable-ci.yaml
    needs: calculate-policy-from-tag
    with:
      policy-working-dir: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}

  pre-release-checks:
    name: "Pre release checks"
    runs-on: ubuntu-latest
    needs: [calculate-policy-from-tag]
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check that `io.kubewarden.policy.version` annotation is up-to-date
        shell: bash
        working-directory: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
        run: |
          VERSION=$(grep 'io.kubewarden.policy.version' metadata.yml | awk '{print $2}' | tr -d '"')
          if [ "$VERSION" != "${{ needs.calculate-policy-from-tag.outputs.policy-version  }}" ]; then
            echo "The value of io.kubewarden.policy.version annotation is not in sync with the expected version: '${VERSION}' != '${{  needs.calculate-policy-from-tag.outputs.policy-version  }}'"
            exit 1
          fi

  release:
    runs-on: ubuntu-latest
    # needs: [calculate-policy-from-tag, ci, pre-release-checks]
    needs: [calculate-policy-from-tag, pre-release-checks, ci]
    permissions:
      # Required to create GH releases
      contents: write
      # Required to push to GHCR
      packages: write
      # Required by cosign keyless signing
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build Wasm module
        shell: bash
        run: make -C ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }} policy.wasm

      - name: Annotate Wasm module
        shell: bash
        run: |
          make -C ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }} annotated-policy.wasm

      - name: Generate the SBOM files
        shell: bash
        working-directory: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
        run: |
          # SBOM files should have "sbom" in the name due the CLO monitor
          # https://clomonitor.io/docs/topics/checks/#software-bill-of-materials-sbom
          syft scan --output spdx-json=policy-sbom.spdx.json \
            --source-name $(yq '.annotations["io.kubewarden.policy.title"] + "-" + .annotations["io.kubewarden.policy.version"]' metadata.yml) \
            --source-version ${{ github.sha }} \
            -vv dir:.

      - name: Sign BOM file
        shell: bash
        working-directory: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
        run: |
          cosign sign-blob --yes \
            --bundle policy-sbom.spdx.jsonl.bundle.sigstore \
            policy-sbom.spdx.json

      - name: Upload policy SBOM files
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: policy-sbom
          path: |
            ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}/policy-sbom.spdx.json
            ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}/policy-sbom.spdx.jsonl.bundle.sigstore

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Wasm policy artifact to OCI registry with the 'latest' tag
        shell: bash
        if: ${{ startsWith(github.ref, 'refs/heads/') }}
        run: |
          set -ex
          echo Pushing :latest policy to OCI container registry
          IMMUTABLE_REF=$(kwctl push -o json annotated-policy.wasm ghcr.io/${{ github.repository_owner }}/policies/${{ needs.calculate-policy-from-tag.outputs.policy-id }}:latest | jq -r .immutable_ref)

          echo Keyless signing of policy using cosign
          cosign sign --yes ${IMMUTABLE_REF}

      - name: Publish Wasm policy artifact to OCI registry with the version tag and 'latest'
        shell: bash
        if: ${{ ! startsWith(github.ref, 'refs/heads/') }}
        working-directory: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
        run: |
          set -ex
          export OCI_TAG="v${{ needs.calculate-policy-from-tag.outputs.policy-version }}"

          echo Pushing tagged policy to OCI container registry
          IMMUTABLE_REF=$(kwctl push -o json annotated-policy.wasm ghcr.io/${{ github.repository_owner }}/policies/${{ needs.calculate-policy-from-tag.outputs.policy-id }}:${OCI_TAG} | jq -r .immutable_ref)

          echo Keyless signing of policy using cosign
          cosign sign --yes ${IMMUTABLE_REF}

      - name: Create release
        id: create-release
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        with:
          config-name: "release-drafter-${{ needs.calculate-policy-from-tag.outputs.policy-name }}.yml"
          disable-autolabeler: true
          prerelease: ${{ contains(needs.calculate-policy-from-tag.outputs.policy-version, '-alpha') || contains(needs.calculate-policy-from-tag.outputs.policy-version, '-beta') || contains(needs.calculate-policy-from-tag.outputs.policy-version, '-rc') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload release assets
        if: ${{ ! startsWith(github.ref, 'refs/heads/') }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          POLICY_WORKING_DIR: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
          RELEASE_ID: ${{ steps.create-release.outputs.id }}
        with:
          script: |
            let fs = require('fs');
            let path = require('path');
            let workingDir = process.env.POLICY_WORKING_DIR || '.';

            let files = [
            `${workingDir}/policy.wasm`,
            `${workingDir}/policy-sbom.spdx.json`,
            `${workingDir}/policy-sbom.spdx.jsonl.bundle.sigstore`,
            ]
            const {RELEASE_ID} = process.env

            for (const file of files) {
              let file_data = fs.readFileSync(file);

              let response = await github.rest.repos.uploadReleaseAsset({
                owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: `${RELEASE_ID}`,
                name: path.basename(file),
                data: file_data,
              });
            }
      - name: Publish release
        # if we are on a single repo, we obtain the last draft release as it contains the changelog
        # and edit it by adding the artifacts. Then we mark the release as latest
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          RELEASE_ID: ${{ steps.create-release.outputs.id }}
        with:
          script: |
            const {RELEASE_ID} = process.env
            const TAG_NAME = "${{ github.ref_name }}";
            isPreRelease = ${{ contains(github.ref_name, '-alpha') || contains(github.ref_name, '-beta') || contains(github.ref_name, '-rc') }}
            github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: `${RELEASE_ID}`,
              draft: false,
              tag_name: TAG_NAME,
              name: TAG_NAME,
              prerelease: isPreRelease,
              make_latest: !isPreRelease
            });

  push-artifacthub:
    needs: [calculate-policy-from-tag, release]
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # fetch all history for all branches and tags

      - name: install dependencies
        uses: ./.github/actions/install-dependencies

      - name: generate artifacthub-pkg.yml
        shell: bash
        working-directory: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
        run: |
          kwctl scaffold artifacthub --output ${{ runner.temp }}/artifacthub-pkg.yml

      - name: Push up-to-date artifacthub-pkg.yml
        shell: bash
        run: |
          set -x
          git config user.name "Update artifacthub branch"
          git config user.email github-actions@github.com

          git checkout -b main --track origin/main
          git checkout -b artifacthub --track origin/artifacthub || git checkout --orphan artifacthub
          git reset HEAD -- .
          # we need to replicate the policy-working-dir structure,
          # see https://artifacthub.io/docs/topics/repositories/kubewarden-policies
          #   path/to/packages
          #   └── policies
          #       └── <policy name>
          #           ├── artifacthub-pkg.yml
          #           └── README.md
            
          # checkout the specific files we need from the specific tag that triggered this workflow:
          git checkout ${{ github.ref_name }} -- artifacthub-repo.yml
          mkdir -p ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
          mv ${{ runner.temp }}/artifacthub-pkg.yml ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}/artifacthub-pkg.yml
          git checkout ${{ github.ref_name }} -- ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}/README.md

          # add and commit the needed files:
          git add artifacthub-repo.yml
          git add ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}/artifacthub-pkg.yml
          git add ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}/README.md # used if artifacthub-pkg.yml.readme is missing
          VERSION=$(sed --posix -n 's,^version: \(.*\),\1,p' ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}/artifacthub-pkg.yml)
          git commit -m "Bump ArtifactHub files for ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}, version $VERSION"

          git push origin artifacthub

  release-catalog:
    needs: [calculate-policy-from-tag, release]
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-catalog.yml@247608f0b5a1562a6fd2576e5b2e6cbe62551baf # v4.5.15
    with:
      policy-name: ${{ needs.calculate-policy-from-tag.outputs.policy-name }}
      policy-working-dir: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
    secrets:
      # Required to dispatch the release event to the policy-catalog repository
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
